<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Detalle Factura</h1>

    <div class="row">
      <div class="col-md-6 text-left header-bill">
        <h4 class="modal-title panel-w-title">
          # <span class="font-400 resalt-label">{{bill.bill_code}}</span></h4>
      </div>

      <div class="col-md-6 header-bill">
        <h4 class="modal-title panel-w-title text-right">
          Fecha: <span class="font-400 resalt-label"> {{bill.created_at |  date:'dd/MM/yyyy'}}</span></h4>
      </div>
    </div>

    <!-- / PANEL 1 Información del cliente-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-4">
            <span class="font-400 bill-steps-label"> 1 </span>
          </div>
          <div class="col-md-4 cen-text">
            <h4 class="modal-title panel-w-title" id="myModalLabel">Información del cliente</h4>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>

      <div class="panel-body">
        <form action="">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" id="cust_name" class="form-control" placeholder="Nombre" ng-model="selectedCustomer.name" tabindex="3"
                  readonly>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group input-group">
                <span class="input-group-addon padding-p-1"><i class="fa fa-phone"></i></span>
                <input type="text" id="cust_phone" class="form-control" placeholder="Teléfono" ng-model="selectedCustomer.phone" tabindex="2"
                  readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                <input type="text" id="cust_identification" class="form-control" placeholder="Numero identificación" ng-model="selectedCustomer.id_document"
                  tabindex="4" readonly>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                <input type="text" id="cust_city" class="form-control" placeholder="Ciudad" ng-model="selectedCustomer.city" tabindex="5"
                  readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-group">
                <span class="input-group-addon padding-p-2"><i class="fa fa-thumb-tack"></i></span>
                <input type="text" id="cust_address" class="form-control" placeholder="Dirección" ng-model="selectedCustomer.address" tabindex="6"
                  readonly>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
    <!-- / PANEL 1-->

    <!-- / PANEL 2 Detalle factura-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-4">
            <span class="font-400 bill-steps-label"> 2 </span>
          </div>
          <div class="col-md-4 cen-text">
            <h4 class="modal-title panel-w-title" id="myModalLabel">Detalle factura</h4>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-default pull-right" ng-click="resetDetail()"><i class="fa fa-eraser"></i>
                </button>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5">
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="includeOrder" ng-model="includeOrder">Incluir Número de Orden</label>
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-ticket"></i></span>
                  <input type="number" class="form-control" ng-disabled="!includeOrder" placeholder="Número de orden" ng-model="order" tabindex="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5">
                <div class="checkbox">
                  <label><input type="checkbox" value="" ng-model="includeIva">IVA Incluido</label>
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group input-group">
                  <span class="input-group-addon padding-p-2"><i class="fa fa-percent"></i></span>
                  <input type="number" class="form-control" placeholder="IVA" ng-model="iva" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-outline btn-warning btn-block margin-b-10" ng-click="openProductsModal()" tabindex="7">Agregar producto</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-outline btn-danger btn-block margin-b-10" ng-click="openServicesModal()" tabindex="8">Agregar servicio</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="fa fa-shopping-bag"></i></span>
              <input type="text" id="item_price" class="form-control font-17" placeholder="Producto / Servicio" ng-model="selectedItem.name"
                readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group input-group">
              <span class="input-group-addon padding-p-2"><i class="fa fa-tags"></i></span>
              <input type="number" class="form-control font-17" placeholder="Precio" ng-model="selectedItem.price" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group input-group">
              <span class="input-group-addon padding-p-2"><i class="fa fa-hashtag"></i></span>
              <input type="number" id="quantity" min="1" class="form-control  total-input" placeholder="Cantidad" ng-model="selectedItem.quantity"
                tabindex="9">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <div class="form-control total-input-div cen-text" placeholder="Total" ng-model="bill.items_total">
                {{ ((selectedItem.quantity * 1) * (selectedItem.price * 1)) | currency:"$":0}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-block" tabindex="10" ng-click="addItemBill(selectedItem)">Agregar a la factura</button>
          </div>
        </div>

        <div class="panel-body" ng-if="billProducts != ''">

          <div class="table-responsive">

            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th width="60" class="cen-text">Ref.</th>
                  <th width="280" class="cen-text">Descripción</th>
                  <th width="80" class="cen-text">Nº Orden</th>
                  <th width="80" class="cen-text">Cantidad</th>
                  <th width="90" class="cen-text">Precio</th>
                  <th width="90" class="cen-text">Subtotal</th>
                  <th width="70" class="cen-text">IVA</th>
                  <th width="90" class="cen-text">Total</th>
                  <th width="40" class="cen-text">Borrar</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in reverse(billProducts) track by $index">
                  <td class="cen-text">{{item.ref}}</td>
                  <td>{{item.name | capitalize}}</td>
                  <td class="cen-text">{{item.order}}</td>
                  <td class="cen-text">{{item.quantity}}</td>
                  <td class="cen-text">{{item.price |currency:"$":0}}</td>
                  <td class="cen-text">{{ ((item.quantity * 1) * (item.price * 1)) | currency:"$":0}}</td>
                  <td class="cen-text">{{item.iva}}&nbsp;%</td>
                  <td class="cen-text">{{item.total |currency:"$":0}}</td>
                  <td class="cen-text">
                    <button type="button" class="btn btn-danger" ng-click="deleteItem(item.id_index)"><i class="fa fa-close"></i>&nbsp;Borrar
                                          </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
    <!-- / PANEL 2-->

    <!-- / PANEL 3-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-4">
            <span class="font-400 bill-steps-label"> 3 </span>
          </div>
          <div class="col-md-4 cen-text">
            <h4 class="modal-title panel-w-title" id="myModalLabel">Información de pago</h4>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group cen-text">
              <label>Subtotal</label>
              <input type="text" class="form-control total-input cen-text" placeholder="Subtotal" ng-value="subtotal |currency:'$':0" readonly>
              </input>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group cen-text">
              <label>Iva</label>
              <input type="text" class="form-control total-input cen-text" placeholder="IVA" ng-value="totalIva |currency:'$':0" readonly>
              </input>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group cen-text">
              <label>Total</label>
              <input type="text" class="form-control total-input cen-text" placeholder="Total" ng-value="total  |currency:'$':0" readonly>
              </input>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Tiempo límite de pago</label>
              <select ng-model="bill.paymentDate" class="form-control" required>
                <option value="">
                    <span>--- Seleccione ---</span>
                </option>
                  <option ng-repeat="period in periods" value="{{period.val}}">
                    <span>{{period.label}}</span>
                  </option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <label></label>
            <button type="button" class="btn btn-success btn-block" ng-click="deleteItem(item.id_index)">
              Pagar factura
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- / PANEL 3-->

  <!--   <div class="panel panel-default">
    <div class="panel-body"> -->
  <div class="row" ng-if="billProducts != ''">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" tabindex="11" ng-click="saveBill()">
            <i class="fa fa-print"></i>&nbsp; Guardar e Imprimir
          </button>
    </div>
  </div>
  <!--  </div>
  </div> -->

</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->



<!-- Modal pic customer-->
<div class="modal fade" id="customersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Añadir Cliente</h4>
      </div>
      <div class="modal-body">

        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Buscar cliente" ng-model="search">
          <span class="input-group-btn">
                      <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                  </span>
        </div>

        <div class="panel-body">
          <div class="table-responsive table-modal">

            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th width="40" class="cen-text">#</th>
                  <th width="250" class="cen-text">Nombre</th>
                  <th width="150" class="cen-text">Número Documento</th>
                  <th width="80" class="cen-text">Añadir</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in reverse(customers) | filter: search track by $index">
                  <td class="cen-text">{{$index+1}}</td>
                  <td>{{item.name | capitalize}}</td>
                  <td>{{item.id_document}}</td>
                  <td class="cen-text">
                    <button type="button" class="btn btn-primary" ng-click="getSelectedCustomer(item.code)"><i class="fa fa-check"></i>&nbsp;Añadir
                                      </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal pic product-->
<div class="modal fade" id="productsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Añadir Producto</h4>
      </div>
      <div class="modal-body">

        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Buscar producto" ng-model="search_product">
          <span class="input-group-btn">
                      <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
                  </span>
        </div>

        <div class="panel-body">
          <div class="table-responsive table-modal">

            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th width="80" class="cen-text">Ref.</th>
                  <th width="250" class="cen-text">Nombre</th>
                  <th width="150" class="cen-text">Precio</th>
                  <th width="80" class="cen-text">Añadir</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in reverse(products) | filter: search_product track by $index">
                  <td class="cen-text">{{item.ref}}</td>
                  <td>{{item.name | capitalize}}</td>
                  <td>{{item.price |currency:"$":0}}</td>
                  <td class="cen-text">
                    <button type="button" class="btn btn-warning" ng-click="getSelectedProduct(item.code)"><i class="fa fa-check"></i>&nbsp;Añadir
                                      </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal pic service-->
<div class="modal fade" id="servicesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Añadir Servicio</h4>
      </div>
      <div class="modal-body">

        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Buscar servicio" ng-model="searchService">
          <span class="input-group-btn">
                      <button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
                  </span>
        </div>

        <div class="panel-body">
          <div class="table-responsive table-modal">

            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th width="40" class="cen-text">Ref.</th>
                  <th width="250" class="cen-text">Nombre</th>
                  <th width="150" class="cen-text">Precio</th>
                  <th width="80" class="cen-text">Añadir</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in reverse(services) | filter: searchService track by $index">
                  <td class="cen-text">{{item.ref}}</td>
                  <td>{{item.name | capitalize}}</td>
                  <td>{{item.price |currency:"$":0}}</td>
                  <td class="cen-text">
                    <button type="button" class="btn btn-danger" ng-click="getSelectedService(item.code)"><i class="fa fa-check"></i>&nbsp;Añadir
                                      </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->