<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Clientes</h1>
        <div class="col-lg-12">

            <div id="success-alert" class="alert alert-success alert-dismissable" ng-if="showSuccessNotification">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{alertTemplate}}
            </div>

            <div class="alert alert-danger alert-dismissable" ng-if="showDangerNotification">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{alertTemplate}}
            </div>

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-blue btn-default" ng-click="addNewModal()" data-toggle="modal" data-target="#customersModal">
                                <i class="fa fa-plus-circle"></i>&nbsp; Añadir Cliente
                            </button>
                        </div>
                        <div class="col-md-4 cen-text">
                            <h4 class="modal-title panel-w-title" id="myModalLabel">Listado Clientes</h4>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

                <div class="panel-body" ng-if="customers!=''">

                    <div class="form-group-lg">
                        <input class="form-control display-inlb search-lg" ng-model="search" type="text" placeholder="Buscar cliente por nombre, correo, telefono, dirección">
                        <span class="input-group-btn dis-inerit">
                            <button class="btn btn-default large-sr-btn" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="40" class="cen-text">#</th>
                                        <th width="200" class="cen-text">Nombre</th>
                                        <th width="100" class="cen-text">Tipo Documento</th>
                                        <th width="100" class="cen-text">Número Documento</th>
                                        <th width="150" class="cen-text">Dirección</th>
                                        <th width="150" class="cen-text">Teléfono</th>
                                        <th width="150" class="cen-text">Celular</th>
                                        <th width="150" class="cen-text">Ciudad</th>
                                        <th colspan="2" class="cen-text">Editar - Desactivar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in reverse(customers) | filter: search track by $index">
                                        <td class="cen-text">{{$index+1}}</td>
                                        <td>{{item.name | capitalize}}</td>
                                        <td>{{item.identification_type.name | capitalize}}</td>
                                        <td>{{item.id_document}}</td>
                                        <td>{{item.address | capitalize}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.mobile_phone}}</td>
                                        <td>{{item.city |capitalize}}</td>
                                        <td class="cen-text" ng-if="item.status==1">
                                            <button type="button" class="btn btn-primary" ng-click="editModal(item)"><i class="fa fa-pencil"></i></button>
                                        </td>
                                        <td class="cen-text" ng-if="item.status==1">
                                            <button type="button" class="btn btn-danger" ng-click="desactivate(item.code)"><i class="fa fa-power-off"></i></button>
                                        </td>
                                        <td class="cen-text" ng-if="item.status==2" colspan="2">
                                            <button ng-if="item.status==2" type="button" class="btn btn-warning" ng-click="activate(item.code)"><i class="fa fa-check-square-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>


        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->




<!-- Modal -->
<div class="modal fade" id="customersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Añadir Cliente</h4>
            </div>
            <div class="modal-body">

                <form name="myForm">

                    <div class="form-group">
                        <label>Tipo de documento</label>
                        <select class="form-control" ng-model="identification_type" ng-options="obj._id as obj.name for obj in identification_types">
                            <option value="">Seleccione tipo de documento...</option>
                        </select>
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                        <input type="text" id="id_document" class="form-control" placeholder="Numéro de documento" ng-model="customer.id_document">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-user"></i></span>
                        <input type="text" id="name" class="form-control" placeholder="Nombre" ng-model="customer.name">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-envelope"></i></span>
                        <input type="text" id="email" class="form-control" placeholder="Correo electronico" ng-model="customer.email">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-2"><i class="fa fa-thumb-tack"></i></span>
                        <input type="text" class="form-control" placeholder="Dirección" ng-model="customer.address">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-phone"></i></span>
                        <input type="number" id="phone" class="form-control" placeholder="Teléfono fijo" ng-model="customer.phone">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-2"><i class="fa fa-mobile font-20"></i></span>
                        <input type="number" class="form-control" placeholder="Celular" ng-model="customer.mobile_phone">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-0"><i class="fa fa-home"></i></span>
                        <input type="text" class="form-control" placeholder="Ciudad" ng-model="customer.city">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block margin-b-10" ng-click="addNew(customer); myForm.$setPristine()">Guardar</button>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-lg btn-block margin-b-10" ng-click="resetFormCreateNew()">Limpiar</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal Update -->
<div class="modal fade" id="editCustomersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Editar Cliente</h4>
            </div>
            <div class="modal-body">

                <form role="form" name="editform" ng-submit="editProduct()">

                    <div class="form-group">
                        <label>Tipo de documento</label>
                        <select class="form-control" ng-model="editCustomer.identification_type._id" ng-options="obj._id as obj.name for obj in identification_types">
                            <option value="">Seleccione tipo de documento...</option>
                        </select>
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                        <input type="text" id="id_documentEdit" class="form-control" placeholder="Numéro de documento" ng-model="editCustomer.id_document">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-user"></i></span>
                        <input type="text" id="nameEdit" class="form-control" placeholder="Nombre" ng-model="editCustomer.name">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-envelope"></i></span>
                        <input type="text" id="emailEdit" class="form-control" placeholder="Correo electronico" ng-model="editCustomer.email">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-2"><i class="fa fa-thumb-tack"></i></span>
                        <input type="text" class="form-control" placeholder="Dirección" ng-model="editCustomer.address">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-phone"></i></span>
                        <input type="text" id="phoneEdit" class="form-control" placeholder="Teléfono fijo" ng-model="editCustomer.phone" ng-value="editCustomer.phone">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-2"><i class="fa fa-mobile font-20"></i></span>
                        <input type="text" class="form-control" placeholder="Celular" ng-model="editCustomer.mobile_phone" ng-value="editCustomer.mobile_phone">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-0"><i class="fa fa-home"></i></span>
                        <input type="text" class="form-control" placeholder="Ciudad" ng-model="editCustomer.city">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block margin-b-10" ng-click="edit(editProduct.code)">Actualizar</button>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-lg btn-block margin-b-10" ng-click="resetFormEdit()">Limpiar</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->






<!--
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Clientes</h1>

        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-plus-circle"></i>&nbsp; Añadir cliente
                </div>
                <div class="panel-body">

                    <form role="form">

                        <div class="form-group">
                            <label>Tipo de documento</label>
                            <select class="form-control" ng-model="identification_type.choice" ng-options="obj.id as obj.name for obj in identification_types">
                                <option value="">Seleccione tipo de documento...</option>
                            </select>
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            <input type="text" class="form-control" placeholder="Numéro de documento" ng-model="customer.document">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon padding-p-1"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Nombre" ng-model="customer.name">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon padding-p-1"><i class="fa fa-envelope"></i></span>
                            <input type="text" id="editemailEdit" class="form-control" placeholder="Correo electronico" ng-model="customer.email">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon padding-p-2"><i class="fa fa-thumb-tack"></i></span>
                            <input type="text" class="form-control" placeholder="Dirección" ng-model="customer.adress">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon padding-p-1"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Teléfono fijo" ng-model="customer.phone">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon padding-p-2"><i class="fa fa-mobile font-20"></i></span>
                            <input type="text" class="form-control" placeholder="Celular" ng-model="customer.cellphone">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon padding-p-0"><i class="fa fa-home"></i></span>
                            <input type="text" class="form-control" placeholder="Ciudad" ng-model="customer.city">
                        </div>
                    </form>

                </div>


                <div class="modal-footer">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-warning btn-lg btn-block margin-b-10" ng-click="edit(editProduct.code)">Actualizar</button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-default btn-lg btn-block margin-b-10" ng-click="resetFormEdit()">Limpiar</button>
                    </div>
                </div>
            </div>
-->

<!--
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-shopping-bag"></i>&nbsp; Lista de clientes
                </div>
                <div class="panel-body">


                    <div class="form-group-lg">


                        <input class="form-control display-inlb search-lg" type="text" placeholder="Buscar cliente por nombre, documento, teléfono">
                        <span class="input-group-btn dis-inerit">
                            <button class="btn btn-default large-sr-btn" type="button"><i class="fa fa-search"></i></button>
                        </span>


                    </div>
-->

<!--
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Tipo Documento</th>
                                        <th>Número Documento</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Celular</th>
                                        <th>Ciudad</th>
                                        <th colspan="2" class="cen-text">Editar - Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Raul herrera</td>
                                        <td>Cedula Ciudadania</td>
                                        <td>105498773</td>
                                        <td>Calle 34 d 23</td>
                                        <td>655 77 86</td>
                                        <td>300 542 76 56</td>
                                        <td>Medellin</td>
                                        <td class="cen-text">
                                            <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                        </td>
                                        <td class="cen-text">
                                            <button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Marcos perez</td>
                                        <td>Cedula Ciudadania</td>
                                        <td>342423423423</td>
                                        <td>Carrera 32 d 23</td>
                                        <td>255 77 86</td>
                                        <td>317 542 76 56</td>
                                        <td>Medellin</td>
                                        <td class="cen-text">
                                            <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                        </td>
                                        <td class="cen-text">
                                            <button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Zenú</td>
                                        <td>Nit</td>
                                        <td>2332423498234</td>
                                        <td>Diagonal 34 d 23</td>
                                        <td>233 77 86</td>
                                        <td></td>
                                        <td>Medellin</td>
                                        <td class="cen-text">
                                            <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                        </td>
                                        <td class="cen-text">
                                            <button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
-->
<!--
</div>
</div>





</div>

</div>
</div>-->