<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Imprimir Factura</h1>


        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <buton type="button" class="btn btn-primary" ng-click="printDiv()">
                            <i class="fa fa-print"></i> &nbsp;Imprimir
                            </button>
                    </div>
                    <div class="col-md-4 cen-text">
                        <h4 class="modal-title panel-w-title" id="myModalLabel">Vista Previa</h4>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>

            <div class="panel-body">

                <div class="container-bill" id="printableArea">

                    <!--                    <div class="info2 center-y dark-gray">CREAR PUBLICIDAD PENSAMIENTO ACTIVO S.A.S Nit: 900.907.179-8 Tel: 444 86 04</div>-->

                    <div class="info center-x">*NO EFECTUAR RETENCIÓN EN LA FUENTE. LEY 1429/2010 * NO SOMOS GRANDES CONTRIBUYENTES NI AUTORETENEDORES*</div>
                    <div class="">
                        <div class="logo-container">
                            <img src="resource/agefrio.png" class="logo ">
                        </div>

                        <div class="items-container ">
                            <div class="item ">
                                <img src="resource/climatizacion.png " class="item-image ">
                            </div>
                            <div class="item ">
                                <img src="resource/refrigeracion.png " class="item-image position10 height95 ">
                            </div>
                            <div class="item ">
                                <img src="resource/ventilacion.png " class="item-image ">
                            </div>
                        </div>
                    </div>

                    <div class="main-data">
                        <div class="main-info-text main-blue">
                            IVA - Régimen Común &nbsp;&nbsp; NIT 900927773-9
                        </div>

                        <div class="main-info-text border-top-info main-blue">
                            <b>E-mail:</b> {{settings.settings.email}} &nbsp;&nbsp;
                            <b>PBX:</b> {{settings.settings.phone}}
                        </div>

                        <div class="main-blue double-width font-14 border-top-info pading-t-10">
                            AUTORIZADOS A FACTURAR POR COMPUTADOR RESOLUCIÓN No.
                            <div class="inset-input-text prt-background">{{settings.settings.resolution}}</div>
                        </div>

                        <div class="main-blue double-width font-14">
                            Fecha: 2016-02-08 &nbsp;&nbsp; HABILITA DE LA
                            <div class="inset-input-text prt-background">
                                A{{settings.settings.resolution_from}} - A{{settings.settings.resolution_to}}
                            </div>
                        </div>

                        <div class="bill-number main-blue account-text">
                            Cta. AHORROS BANCOLOMBIA Nº:
                        </div>
                        <div class="label-bill-number prt-background main-blue account-number">541-541030-42</div>

                        <div class="bill-number main-blue">
                            Nº FACTURA:
                        </div>
                        <div class="label-bill-number prt-background">{{bill.bill_code}}</div>

                        <div class="bill-number main-blue date-field ">
                            FECHA:
                        </div>
                        <div class="label-bill-number date-field-inset prt-background">{{getDateFormat(bill.created_at)|date:'yyyy-MM-dd'}}</div>

                    </div>

                    <div class="billing-data">
                        <div class="info-left">
                            <div class="info-item">FACTURADO A</div>
                            <div class="info-item">IDENTIFICACIÓN</div>
                            <div class="info-item">TELÉFONO</div>
                            <div class="info-item">DIRECCIÓN</div>
                            <div class="info-item">CIUDAD</div>
                        </div>
                        <div class="info-right">
                            <div class="info-item-r">{{bill.bill_customer.name | capitalize}}</div>
                            <div class="info-item-r">{{bill.bill_customer.id_document}}</div>
                            <div class="info-item-r">{{bill.bill_customer.phone}}</div>
                            <div class="info-item-r">{{bill.bill_customer.address | capitalize}}</div>
                            <div class="info-item-r">{{bill.bill_customer.city | capitalize}}</div>
                        </div>
                    </div>

                    <table class="tableinfo">

                        <thead class="border-table">
                            <tr class="tab-heder-row " colspan="7">
                                <td class="tab-header main-blue " width="60">
                                    <b>REF.</b>
                                </td>
                                <td class="tab-header main-blue " width="390">
                                    <b>DESCRIPCIÓN</b>
                                </td>
                                <td class="tab-header main-blue " width="80">
                                    <b>Nº ORDEN.</b>
                                </td>
                                <td class="tab-header main-blue " width="60">
                                    <b>CANT.</b>
                                </td>
                                <td class="tab-header main-blue " width="110">
                                    <b>PRECIO</b>
                                </td>
                                <td class="tab-header main-blue " width="110">
                                    <b>SUBTOTAL</b>
                                </td>
                                <td class="tab-header main-blue " width="50">
                                    <b>IVA</b>
                                </td>
                                <td class="tab-header main-blue " width="120">
                                    <b>TOTAL</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="tbody-border">
                            <!-- Page content -->
                            <tr ng-repeat="item in bill.products track by $index">
                                <td class="tab-cell td-tab">
                                    {{item.ref}}
                                </td>
                                <td class="tab-cell dark-gray text-a-l td-tab">
                                    {{item.name | capitalize}}
                                </td>
                                <td class="tab-cell dark-gray td-tab">{{item.order}}</td>
                                <td class="tab-cell dark-gray td-tab">{{item.quantity}}</td>
                                <td class="tab-cell dark-gray td-tab">{{item.price | currency:"$":0}}</td>
                                <td class="tab-cell dark-gray td-tab">{{ ((item.quantity * 1) * (item.price * 1)) | currency:"$":0}}</td>
                                <td class="tab-cell dark-gray td-tab">{{item.iva}}%</td>
                                <td class="tab-cell dark-gray td-tab">{{item.total | currency:"$":0}}</td>
                            </tr>

                            <tr ng-repeat="item in blankspaces track by $index">
                                <td class="tab-cell td-tab"></td>
                                <td class="tab-cell td-tab"></td>
                                <td class="tab-cell td-tab"></td>
                                <td class="tab-cell td-tab"></td>
                                <td class="tab-cell td-tab"></td>
                                <td class="tab-cell td-tab"></td>
                                <td class="tab-cell td-tab"></td>
                                <td class="tab-cell td-tab"></td>
                            </tr>
                        </tbody>

                    </table>

                    <!-- Print at the bottom of every page -->
                    <div id="footer-container" class="border-top-l">
                        <div class="bill-footer-info">
                            <div class="bill-footer-item footer-l ">
                                <div class="info-item-footer m-top-12 no-border-b"><span class="main-blue ">VALOR EN LETRAS:</span></div>
                                <div class="info-item-footer ">{{convert(bill.total)}}</div>
                            </div>
                            <div class="bill-footer-item footer-r ">
                                <div class="footer-titles ">
                                    <div class="info-item m-top-12 ">SUBTOTAL $</div>
                                    <div class="info-item ">IVA $</div>
                                    <div class="info-item ">TOTAL $</div>
                                </div>
                                <div class="footer-values ">
                                    <div class="info-footer-values dark-gray m-top-12 ">{{bill.subtotal | currency:"$":0}}</div>
                                    <div class="info-footer-values dark-gray ">{{bill.total_iva | currency:"$":0}}</div>
                                    <div class="info-footer-values dark-gray ">{{bill.total | currency:"$":0}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="signatures">
                            <div class="sign ">
                                <span class="name-sign main-blue ">Agefrio S.A.S &nbsp; Nit.900927773-9</span>
                                <!-- <span class="nit-sign main-blue ">Nit. 900927773-9</span> -->
                            </div>
                            <div class="sign ">
                                <span class="name-sign main-blue ">FIRMA CLIENTE</span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>
</div>