<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Facturas Generadas</h1>
        <div class="col-lg-12">


            <div class="panel panel-green">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4 cen-text">
                            <h4 class="modal-title panel-w-title" id="myModalLabel">Listado Facturas</h4>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="form-group-lg">
                        <input class="form-control display-inlb search-lg" ng-model="search" type="text" placeholder="Buscar factura, nombre, teléfono, valor">
                        <span class="input-group-btn dis-inerit">
                            <button class="btn btn-default large-sr-btn" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-if="bills != ''">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="80" class="cen-text">N°</th>
                                        <th width="130" class="cen-text">Fecha</th>
                                        <th width="220" class="cen-text">Cliente</th>
                                        <th width="100" class="cen-text">Teléfono</th>
                                        <th width="120" class="cen-text">Email</th>
                                        <th width="110" class="cen-text">Subtotal</th>
                                        <th width="110" class="cen-text">IVA</th>
                                        <th width="120" class="cen-text">Total</th>
                                        <th width="60" class="cen-text">Detalle</th>
                                        <th width="60" class="cen-text">Imprimir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in reverse(bills) | filter: search track by $index">
                                        <td class="cen-text">{{item.bill_code}}</td>
                                        <td>{{getDateFormat(item.created_at)|date:'yyyy-MM-dd'}}</td>
                                        <td>{{item.bill_customer.name | capitalize}}</td>
                                        <td>{{item.bill_customer.phone | capitalize}}</td>
                                        <td>{{item.bill_customer.email | capitalize}}</td>
                                        <td>{{item.subtotal |currency:"$":0}}</td>
                                        <td>{{item.total_iva |currency:"$":0}}</td>
                                        <td>{{item.total |currency:"$":0}}</td>
                                        <td class="cen-text">
                                            <button type="button" class="btn btn-primary" ng-click="detailedBill(item.code)"><i class="fa fa-plus"></i></button>
                                        </td>
                                        <td class="cen-text">
                                            <button type="button" class="btn btn-primary" ng-click="printBill(item.code)"><i class="fa fa-print"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>


        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<!-- Modal detailed bill-->
<div class="modal fade" id="detailBill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog table-modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Detalle factura {{singleBill.bill_code}}</h4>
            </div>
            <div class="modal-body">

                <div class="panel-body">
                    <div class="table-responsive table-modal">

                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td class="tab-header cen-text" width="70">
                                        <b>Ref.</b>
                                    </td>
                                    <td class="tab-header cen-text" width="320">
                                        <b>Descripción</b>
                                    </td>
                                    <td class="tab-header cen-text" width="70">
                                        <b>Nº orden</b>
                                    </td>
                                    <td class="tab-header cen-text" width="70">
                                        <b>Cantidad</b>
                                    </td>
                                    <td class="tab-header cen-text" width="115">
                                        <b>Precio</b>
                                    </td>
                                    <td class="tab-header cen-text" width="115">
                                        <b>Subtotal</b>
                                    </td>
                                    <td class="tab-header cen-text" width="40">
                                        <b>IVA</b>
                                    </td>
                                    <td class="tab-header cen-text" width="115">
                                        <b>Total</b>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in singleBill.products">
                                    <td class="tab-cell">
                                        {{item.ref}}
                                    </td>
                                    <td class="tab-cell dark-gray text-a-l">
                                        {{item.name | capitalize}}
                                    </td>
                                    <td class="tab-cell">{{item.order}}</td>
                                    <td class="tab-cell">{{item.quantity}}</td>
                                    <td class="tab-cell">{{item.price | currency:"$":0}}</td>
                                    <td class="tab-cell">{{ ((item.quantity * 1) * (item.price * 1)) | currency:"$":0}}</td>
                                    <td class="tab-cell">{{item.iva}}%</td>
                                    <td class="tab-cell">{{item.total | currency:"$":0}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->