<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Facturas por cliente</h1>
        <div class="col-lg-12">


            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4 cen-text">
                            <h4 class="modal-title panel-w-title" id="myModalLabel">Consultar Facturas por Cliente</h4>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="form-group-lg">
                        <input class="form-control display-inlb search-lg" ng-model="search" type="text" placeholder="Nombre del cliente">
                        <span class="input-group-btn dis-inerit">
                            <button class="btn btn-default large-sr-btn" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="40" class="cen-text">#</th>
                                        <th width="200" class="cen-text">Nombre</th>
                                        <th width="100" class="cen-text">Tipo Documento</th>
                                        <th width="100" class="cen-text">Número Documento</th>
                                        <th width="150" class="cen-text">Dirección</th>
                                        <th width="150" class="cen-text">Teléfono</th>
                                        <th width="150" class="cen-text">Celular</th>
                                        <th width="150" class="cen-text">Ciudad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in reverse(bills) | filter: search track by $index">
                                        <td class="cen-text">{{$index+1}}</td>
                                        <td>{{item.name | capitalize}}</td>
                                        <td>{{item.identification_type.name | capitalize}}</td>
                                        <td>{{item.id_document}}</td>
                                        <td>{{item.address | capitalize}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.mobile_phone}}</td>
                                        <td>{{item.city |capitalize}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>


        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->