<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Servicios</h1>
        <div class="col-lg-12">

            <div id="success-alert" class="alert alert-success alert-dismissable" ng-if="showSuccessNotification">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{alertTemplate}}
            </div>

            <div class="alert alert-danger alert-dismissable" ng-if="showDangerNotification">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{alertTemplate}}
            </div>

            <div class="panel panel-red">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-red btn-default" ng-click="addNewModal()" data-toggle="modal" data-target="#serviceModal">
                                <i class="fa fa-plus-circle"></i>&nbsp; Añadir Servicio
                            </button>
                        </div>
                        <div class="col-md-4 cen-text">
                            <h4 class="modal-title panel-w-title" id="myModalLabel">Listado Servicios</h4>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

                <div class="panel-body" ng-if="services!=''">

                    <div class="form-group-lg">
                        <input class="form-control display-inlb search-lg" ng-model="search" type="text" placeholder="Buscar servicio por referencia, nombre, descripción, valor">
                        <span class="input-group-btn dis-inerit">
                            <button class="btn btn-default large-sr-btn" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="40" class="cen-text">#</th>
                                        <th width="80" class="cen-text">Ref.</th>
                                        <th width="150" class="cen-text">Nombre</th>
                                        <th width="400" class="cen-text">Descripción</th>
                                        <th width="150" class="cen-text">Valor Unitario</th>
                                        <th colspan="2" class="cen-text">Editar - Desactivar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in reverse(services) | filter: search track by $index">
                                        <td class="cen-text">{{$index+1}}</td>
                                        <td class="cen-text">{{item.ref}}</td>
                                        <td>{{item.name | capitalize}}</td>
                                        <td>{{item.description | capitalize}}</td>
                                        <td>{{item.price |currency:"$":0}}</td>
                                        <td class="cen-text" ng-if="item.status==1">
                                            <button type="button" class="btn btn-primary" ng-click="editModal(item)"><i class="fa fa-pencil"></i></button>
                                        </td>
                                        <td class="cen-text" ng-if="item.status==1">
                                            <button type="button" class="btn btn-danger" ng-click="desactivate(item.code)"><i class="fa fa-power-off"></i></button>
                                        </td>
                                        <td class="cen-text" ng-if="item.status==2" colspan="2">
                                            <button ng-if="item.status==2" type="button" class="btn btn-warning" ng-click="activateService(item.code)"><i class="fa fa-check-square-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>


        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->




<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Añadir Servicio</h4>
            </div>
            <div class="modal-body">

                <form name="myForm">

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-hashtag"></i></span>
                        <input type="text" id="reference" class="form-control" placeholder="referencia" ng-model="ref_code" readonly>
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-shopping-cart"></i></span>
                        <input type="text" class="form-control" id="name" placeholder="Nombre" ng-model="service.name" required>
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-comment"></i></span>
                        <input type="text" name="product_description" class="form-control" placeholder="Descripción" ng-model="service.description">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-4"><i class="fa fa-usd"></i></span>
                        <input type="number" id="service_value" class="form-control" placeholder="Valor Unitario" ng-model="service.price" required>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-danger btn-lg btn-block margin-b-10" ng-click="addNew(service); myForm.$setPristine()">Guardar</button>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-lg btn-block margin-b-10" ng-click="resetFormCreateNew()">Limpiar</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal Update -->
<div class="modal fade" id="editServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Editar Servicio</h4>
            </div>
            <div class="modal-body">

                <form role="form" name="editform">

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-hashtag"></i></span>
                        <input type="text" class="form-control" placeholder="Referencia" ng-model="editService.ref" readonly>
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-shopping-cart"></i></span>
                        <input type="text" id="name_edit" class="form-control" placeholder="Nombre" ng-model="editService.name">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-comment"></i></span>
                        <input type="text" class="form-control" placeholder="Descripción" ng-model="editService.description">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-4"><i class="fa fa-usd"></i></span>
                        <input type="number" id="service_value_edit" class="form-control" placeholder="Valor Unitario" ng-model="editService.price" ng-value="editService.price">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-danger btn-lg btn-block margin-b-10" ng-click="edit(editService.code)">Actualizar</button>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-lg btn-block margin-b-10" ng-click="resetFormEdit()">Limpiar</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->