<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Configuración</h1>
        <div class="col-lg-12">

            <div id="success-alert" class="alert alert-success alert-dismissable" ng-if="showSuccessNotification">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{alertTemplate}}
            </div>

            <div class="alert alert-danger alert-dismissable" ng-if="showDangerNotification">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{alertTemplate}}
            </div>

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4 cen-text">
                            <h4 class="modal-title panel-w-title" id="myModalLabel">Parametros de configuración</h4>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

                <div class="panel-body">
                    <h2 class="page-header">Factura</h2>
                    <div class="row">
                        <div class="col-md-6">
                            Iva
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-2"><i class="fa fa-percent"></i></span>
                                <input type="number" id="iva" class="form-control total-input iva-input" placeholder="IVA" ng-model="billsettings.iva" tabindex="1">

                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            Correo
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="text" id="email" class="form-control total-input iva-input" placeholder="Email factura" ng-model="billsettings.email" tabindex="2">

                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            PBX
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input type="text" id="phone" class="form-control total-input iva-input" placeholder="Teléfono factura" ng-model="billsettings.phone" tabindex="3">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Número resolución facturación Dian
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
                                <input type="number" id="resolution" class="form-control total-input iva-input" placeholder="Resolución Dian" ng-model="billsettings.resolution" tabindex="4">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            # Desde
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-cog"></i></span>
                                <input type="number" id="resolution_from" class="form-control total-input iva-input" placeholder="Habilita desde" ng-model="billsettings.resolution_from" tabindex="5">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            # Hasta
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-cog"></i></span>
                                <input type="number" id="resolution_to" class="form-control total-input iva-input" placeholder="Habilita hasta" ng-model="billsettings.resolution_to" tabindex="6">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6" ng-if="settings == ''">
                            <button type="submit" class="btn btn-primary btn-lg btn-block margin-b-10" ng-click="save()" tabindex="7">Guardar</button>
                        </div>
                        <div class="col-lg-6" ng-if="settings != ''">
                            <button type="submit" class="btn btn-primary btn-lg btn-block margin-b-10" ng-click="edit()" tabindex="8">Actualizar</button>
                        </div>
                    </div>

                    <h2 class="page-header">Tipos de documento</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-2"><i class="fa fa-credit-card"></i></span>
                                <input type="text" id="id_name" class="form-control total-input iva-input" placeholder="Nombre tipo identificación" ng-model="identification.id_name" tabindex="9">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-2"><i class="fa fa-commenting-o"></i></span>
                                <input type="text" id="id_name_abreviation" class="form-control total-input iva-input" placeholder="Abreviación" ng-model="identification.abreviation" tabindex="10">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block margin-b-10" ng-click="saveIdentification(identification)" tabindex="11">Guardar</button>
                        </div>

                    </div>

                    <div ng-if="productstgs == ''">
                        <h2 class="page-header">Productos</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
                                    <input type="text" id="startproducts" class="form-control total-input iva-input" placeholder="Código inicio productos" ng-model="productsettings.start">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
                                    <input type="text" id="limitproducts" class="form-control total-input iva-input" placeholder="Límite código productos" ng-model="productsettings.limit">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary btn-lg btn-block margin-b-10" ng-click="saveProductSettings()">Guardar</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="servicestgs == ''">
                        <h2 class="page-header">Servicios</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
                                    <input type="text" id="startservices" class="form-control total-input iva-input" placeholder="Código inicio servicios" ng-model="servicesettings.start">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
                                    <input type="text" id="limitservices" class="form-control total-input iva-input" placeholder="Límite código servicios" ng-model="servicesettings.limit">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary btn-lg btn-block margin-b-10" ng-click="saveServiceSettings()">Guardar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>


</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->