<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Inicio</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <stats number="{{ index.bills }}" comments="Facturas Generadas" colour="green" type="usd" goto="dashboard.getBills"></stats>
        <stats number="{{ index.customers }}" comments="Clientes" colour="primary" type="users" goto="dashboard.customers"></stats>
        <stats number="{{ index.products }}" comments="Productos" colour="yellow" type="shopping-cart" goto="dashboard.products"></stats>
        <stats number="{{ index.services }}" comments="Servicios" colour="red" type="suitcase" goto="dashboard.services"></stats>
    </div>

</div>