<div id="wrapper">

    <!-- Navigation -->

    <header></header>
    <!-- /.navbar-top-links -->


    <!-- /.navbar-static-side -->

    <div id="page-wrapper" style="min-height: 561px;">

        <div ui-view>
           
        </div>

    </div>
    <!-- /#page-wrapper -->
</div>