<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header headerstyle">


        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="index.html">
            <img src="/resource/agefrio.png" class="logo">
        </a>
    </div>
    <!-- /.navbar-header -->
    <header-notification></header-notification>

    <sidebar></sidebar>
</nav>